@model List<Book>

<div class="text-center mb-4">
    <form asp-action="Create" asp-controller="Book" method="get">
        <button type="submit" class="btn create-button">Create</button>
    </form>
</div>

<div class="container">
    <h2 class="text-center mb-4">Tüm Kitaplar</h2>
    <div class="books-container">
        @foreach (var book in Model)
        {
            <div class="book-card">
                <div class="book-content">
                    <h5>@book.Title</h5>
                    <p><strong>Tür:</strong> @book.Genre</p>
                    <a href="@Url.Action("Details", "Book", new { id = book.Id })" class="detail-button">Detaylar</a>
                </div>
            </div>
        }
    </div>
</div>

<footer class="site-footer">
    &copy; 2024 Tüm Hakları Saklıdır - MVCofProject
</footer>